@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h5><b>@Html.DisplayNameFor(model => model.Input.UserPhoto)</b></h5>
                @if (Model.Input.UserPhotoURL != null)
                {
                    <dd class = "col-sm-10">
                        <img style="max-width:500px;max-height:500px" src="~/images/@Model.Input.UserPhotoURL" / alt="@Model.UserName">
                    </dd>
                }
                <input type="file" asp-for="Input.UserPhoto" class="form-control" autocomplete="firstname" aria-required="true" accept=".png, .jpg, .jpeg, .gif, .tif" />
                <span asp-validation-for="Input.UserPhoto" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
