@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Personal Trainer Website!</h1>
    <h2 class="display-6">To start, log in or register!</h2>
        <partial name="_LoginPartial" id="register/login_button"/>
</div>
