@using Microsoft.AspNetCore.Identity
@using PersonalTrainer.Data
@model HomeViewModel
@inject SignInManager<MyCustomUser> SignInManager
@inject UserManager<MyCustomUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    string firstName = "";
    string lastName = "";
    foreach (MyCustomUser user in Model.CustomUsers)
    {
        if(user.UserName == User.Identity.Name)
        {
            firstName = user.FirstName;
            lastName = user.LastName;
        }
    }
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="fw-bold fs-1">Welcome @firstName @lastName!</p>
    }
    else
    {
        <h1 class="display-4">Welcome to Personal Trainer Website!</h1>
        <h2 class="display-6">To start, log in or register!</h2>
        <br />
        <li style="list-style: none;">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <br />
        <li style="list-style: none;">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</div>
